.button {
  background-color: #f55;
  color: inherit;
  padding: 5px;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(255, 168, 168);
}

.button:active {
  background-color: inherit;
}
