.app.light {
  background-color: #ffffff;
  color: #333333;
}

.app.light a {
  color: #13b4ff;
}

.app.light a:hover {
  color: rgb(255, 168, 168);
}

.app.dark {
  background-color: #585858;
  color: #f5f5f5;
}

.app.dark a {
  color: #71d2ff;
}

.app.dark a:hover {
  color: rgb(255, 168, 168);
}

.app.light a.active,
.app.dark a.active {
  color: #f55;
  text-decoration: underline;
}

.app main {
  width: 100%;
}
